.LateralEsquerda{
    display: flex;
    padding-left: 0.7rem;
    flex-direction: column;
    justify-content: space-between;
}

.Navbar{
    width: 10%;
    height: 100%;
    background-color: aqua;
}

.SobreIcone, .SobreIconeInstagram{
    width: 20%;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0.3rem 0 0.3rem 0.6rem;
}

.SobreIcone:hover, .SobreIconeInstagram:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.SobreIcone{
    width: 100%;
}

.SobreIconeInstagram:hover{
    width: 23%;
}

.LogoInstagram{
    width: 2rem;
    height: 2rem;
}

.FotoPerfilLogado{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

.OpcoesPaginas{
    gap: 1vh;
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.OpcoesPaginas span{
    transition: 0.2s ease-out;
    padding-left: 0.7rem;
}